


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   margin-top: 100px;
}

#personForm {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}


h1{
    font-family: 'Cursive', cursive;
    font-size: 24px;
    font-weight: bold;
    color: #3498db; /* Cor do texto (azul) */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra do texto */
}

p{
    padding-top: 10px;
    padding-bottom: 10px;

}

.texto{
    text-align: center;
}


.display-details {
    margin-top: 20px;
    border-style: solid;
}

.p2{
    text-align: center;
}

.footer {
    margin-top: 10%;
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-align: center;
    padding: 10px;

}

.nav1{
    background-color: #333;
}

a{
    font-family: 'Cursive', cursive;
    font-size: 24px;
    font-weight: bold;
    color: #3498db; /* Cor do texto (azul) */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    text-align: center; /* Alinhamento central */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra do texto */
    text-align: center;
}










